$primary-color: #6D3D97;

* {
  margin: 0;
  padding: 0;
}

@keyframes cssAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: $primary-color;
  text-align: center;
}

.header {
  color: white;
  margin: 50px;
}

.header > h1 {
  font-family: "Playfair Display";
  font-size: 3.0em;
  font-weight: 100;
  line-height: 1;
  color: white;
  text-align: center;
}

.header > p {
  font-size: 1.2em;
}

.fa {
  padding: 10px;
  margin-top: 20px;
}

.search-input {
  width: 800px;
  height: 30px;
  background-color: $primary-color;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  padding: 0 10px;
}

.search-input:focus, .search-input:hover {
  outline: none;
  box-shadow: 0 0 3px white;
}

.search-input::-moz-placeholder {
  color: white;
  text-align: center;
  opacity: 1;
}

.search-input::-webkit-input-placeholder {
  color: white;
  text-align: center;
  font-size: 0.9em;
}

.search > button {
  background-color: $primary-color;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  color: white;
  width: 200px;
  vertical-align: middle;
}

.search > button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px white;
}

.search > button:focus {
  outline: none;
  box-shadow: 0 0 3px white;
}

ul {
  list-style: none;
}

.bar {
  display: flex;
  width: 1050px;
  margin: 10px auto;
  text-align: left;
  padding: 10px 10px;
  color: white;
}

.bar:hover {
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding-top: 9px;
  padding-bottom: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  border-radius: 5px;
}

.snippet {
  font-size: 0.85em;
  margin: 20px 10px 5px 10px;
}

.bar-name {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  margin: 5px 10px;
}

.number-goers {
  margin: 5px;
  border: 1px solid white;
  padding: 0px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
}

.number-goers:hover {
  cursor: pointer;
  box-shadow: inset 0 0 3px white;
}

img {
  border-radius: 5px;
}

.spinner {
  color: white;
  font-size: 4em;
  animation: cssAnimation 3.5s linear infinite;
  margin-top: 20px;
}

.spinner i {
  margin: 0;
}

.hidden {
  display: none;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 0.9em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer > * {
  margin: 0 5px;
}
